<a href="https://colab.research.google.com/github/Diegogluc/Tera_challenges-/blob/main/Data_exploration_games_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
ds1 = pd.read_csv('/content/drive/MyDrive/Desafio_Tera/dataset1.csv', encoding='latin-1')
ds2 = pd.read_csv('/content/drive/MyDrive/Desafio_Tera//dataset2.csv', encoding='latin-1')
ds3 = pd.read_csv('/content/drive/MyDrive/Desafio_Tera//dataset3.csv', encoding='latin-1')

In [6]:
ds1.head()

,Id,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,NaN,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,NaN,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,4,Wii Sports Resort,NaN,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,"1,0",31.37

In [7]:
# prompt: i want to sum the values from the column NA_Sales, EU_Sales, JP_Sales and Other_Sales in a clean code

ds1['Total_Sales'] = ds1['NA_Sales'] + ds1['EU_Sales'] + ds1['JP_Sales'] + ds1['Other_Sales']
ds1.head()

,Id,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Total_Sales
0,1,Wii Sports,NaN,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,41.3628.963.778.45
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,29.083.586.810.77
2,3,Mario Kart Wii,NaN,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,15.6812.763.793.29
3,4,Wii Sports Resort,NaN,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,15.6110.933.282.95
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,"1,0",31.37,"11.278.8910.221,0"

In [8]:
ds1.dtypes

Id                  int64
Name               object
Platform           object
Year_of_Release    object
Genre              object
Publisher          object
NA_Sales           object
EU_Sales           object
JP_Sales           object
Other_Sales        object
Global_Sales       object
Total_Sales        object
dtype: object

In [9]:
num_rows = len(ds1.index)
num_columns = len(ds1.columns)
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 106
Number of columns: 12

$$
\begin{array}{|l|l|l|l|}
\hline
\textbf{Variable} & \textbf{Data Type} & \textbf{Type of Variable} & \textbf{Description} \\
\hline
1. \text{ID} & \text{Serial} & \text{Categorical - Nominal} & \text{Game ID} \\
\hline
2. \text{Name} & \text{String} & \text{Categorical - Nominal} & \text{Original name of the game in English} \\
\hline
3. \text{Platform} & \text{String} & \text{Categorical - Nominal} & \text{Name of the platform on which the game was published} \\
\hline
4. \text{Year_of_Release} & \text{Date} & \text{Quantitative - Discrete} & \text{Year in which the game was released} \\
\hline
5. \text{Genre} & \text{String} & \text{Categorical - Nominal} & \text{Game Genre} \\
\hline
6. \text{Publisher} & \text{String} & \text{Categorical - Nominal} & \text{Name of the company that published the game} \\
\hline
7. \text{NA_Sales} & \text{Float} & \text{Quantitative - Discrete} & \text{Number of sales in North America} \\
\hline
8. \text{EU_Sales} & \text{Float} & \text{Quantitative - Discrete} & \text{Number of sales in the European Union} \\
\hline
9. \text{JP_Sales} & \text{Float} & \text{Quantitative - Discrete} & \text{Number of sales in Japan} \\
\hline
10. \text{Other_Sales} & \text{Float} & \text{Quantitative - Discrete} & \text{Number of sales in other countries} \\
\hline
11. \text{Global_Sales} & \text{Float} & \text{Quantitative - Discrete} & \text{Sum of all sales (NA_Sales + EU_Sales + JP_Sales + Other_Sales)} \\
\hline
\end{array}
$$

### Tidyness of the dataset

The sales collumns configure the dataset as a non Tidy format. In order to change to a Tidy format, a collumn regarding the country in wich the sales was made must be created and the global sales must be supressed

Hipotesis on how the dataset might have been acquired:
1. Web research for relevant games;
2. Archives for videogame data.
<br>
<br>

Some of the possible are:
1. https://gamehistory.org/ -> web archive of videogame;
2. Google search;
3. Wikipedia.
<br>
<br>

Possible transformations:
1. Year_of_release cleaned so it will only have the year (drop month and day);
3. Plataform only the most relevant (games can be published in more then one plataform);
2. Number of sales transformed to millions.

In [57]:
# First visual check for null values
ds1.isnull()

,Id,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Total_Sales
0,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
101,False,False,False,False,False,False,False,False,False,False,True,False
102,False,False,False,False,False,False,False,False,False,False,True,False
103,False,False,False,False,False,False,False,False,False,False,True,False
104,False,False,False,False,False,False,False,False,False,False,False,False
105,False,False,False,False,False,False,False,False,False,False,False,False

In [32]:
# Check the ammount of null values per column
for column in ds1.columns.values:
  print("Number of null items in ",column,' : ',ds1[column].isnull().sum() )

Number of null items in  Id  :  0
Number of null items in  Name  :  1
Number of null items in  Platform  :  9
Number of null items in  Year_of_Release  :  1
Number of null items in  Genre  :  1
Number of null items in  Publisher  :  1
Number of null items in  NA_Sales  :  1
Number of null items in  EU_Sales  :  1
Number of null items in  JP_Sales  :  5
Number of null items in  Other_Sales  :  1
Number of null items in  Global_Sales  :  29
Number of null items in  Total_Sales  :  5

In [43]:
# Check for duplicates based on the name of the game
if len(ds1['Name']) - ds1['Name'].nunique() == 0:
  print("There are no duplicates in the Name column")
else:
  print("There are duplicates in the Name column")

There are duplicates in the Name column

In [58]:
# Get the name of all games that have more then an entry
ds1.groupby(['Name'])['Id'].nunique().loc[lambda x: x > 1]

Name
Call of Duty: Black Ops           2
Call of Duty: Black Ops 3         2
Call of Duty: Black Ops II        2
Call of Duty: Ghosts              2
Call of Duty: Modern Warfare 2    2
Call of Duty: Modern Warfare 3    2
Grand Theft Auto IV               2
Grand Theft Auto V                3
Super Mario 64                    2
Name: Id, dtype: int64

In [67]:
# check the motive for the dupliates based on the plataform
for index in ds1.groupby(['Name'])['Id'].nunique().loc[lambda x: x > 1].index:
  print((ds1[["Id","Name","Platform"]][ds1['Name'] == index]),'\n')

    Id                     Name Platform
33  33  Call of Duty: Black Ops     X360
42  42  Call of Duty: Black Ops      PS3

      Id                       Name Platform
32    32  Call of Duty: Black Ops 3      PS4
105  100  Call of Duty: Black Ops 3     XOne

    Id                        Name Platform
35  35  Call of Duty: Black Ops II      PS3
36  36  Call of Duty: Black Ops II     X360

    Id                  Name Platform
61  61  Call of Duty: Ghosts     X360
62  61  Call of Duty: Ghosts     X360
71  70  Call of Duty: Ghosts      PS3

    Id                            Name Platform
37  37  Call of Duty: Modern Warfare 2     X360
56  56  Call of Duty: Modern Warfare 2      PS3

    Id                            Name Platform
30  30  Call of Duty: Modern Warfare 3     X360
38  38  Call of Duty: Modern Warfare 3      PS3

    Id                 Name Platform
52  52  Grand Theft Auto IV     X360
58  58  Grand Theft Auto IV      PS3

    Id                Name Platform
16  17  Grand Theft Auto V      PS3
17  17  Grand Theft Auto V      PS3
24  24  Grand Theft Auto V     X360
43  43  Grand Theft Auto V      PS4

    Id            Name Platform
46  46  Super Mario 64      N64
60  60  Super Mario 64       DS

___
### Ids are not unique to each game -> this means that the value of this column is not a primary key of the table and thus a new serial column should be added so it can be used as the actual primary key
___